.headerWrap {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 10px;
    >div{
        display: flex;
        align-items: center;
        padding: 15px 0;
        button {
            background-color: transparent;
            border:none;
            padding: 0px;
            &:not(:last-child) {
                margin-left: 30px;
            }
        }
        .n-icon {
            margin-left: 20px;  
            cursor: pointer;
        }
    }
}