.headerWrap {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  z-index: 2;
  border-bottom: 1px solid #d6d9dd;
  background-color: #2b3b49;
  > div {
    &.menuWrap {
      display: flex;
      align-items: center;
      padding: 15px 0;
      button {
        background-color: transparent;
        border:none;
        padding: 0px 5px;
        border-radius: 0;
        color: #d9cccc;
        font-size: 1rem;
        font-weight: bold;
        &:not(:last-child) {
            margin-left: 30px;
        }
        &:hover {
            transform: translateY(-3px);
        }
        &.active {
          font-weight: bold;
        }
      }
      .n-icon {
        margin-left: 20px;  
        cursor: pointer;
        color: #d9cccc;
      }
    }
    &.userDetailedWrap {
      position: fixed;
      width: 230px;
      height: 270px;
      top: 75px;
      right: 25px;
      background: linear-gradient(to bottom right, #EFEFEF, #C9D7DD);
      border-radius: 8px;
      padding: 1.8rem 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .avatarWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
          width: 55px;
          height: 55px;
          border: 2px solid #979797;
          background-color: #C9D7DD;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;    
          > p {
            font-size: 1.25rem;
            cursor: context-menu;
          }    
        }
        span {
          width: calc((100% - 55px) /2 );
          border-top: 1px solid #979797;
        }
      }
      .userMainWrap {
        height: calc(100% - 47px);
        font-size: 1rem;
        margin: 10px 0 20px 0;
        .userName {
          margin-bottom: 10px;
          font-size: 1rem;
          p {
            font-size: 1rem;
          }
        }
        p {
          text-align: center;
          font-size: 0.875rem;
        }
      }
      .signOutWrap {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        border-top: 1px solid #979797;
        button {
          font-size: 0.875rem;
          display: flex;
          align-items: center;
          padding:2px 5px;
          background-color: transparent;
          border: 1px solid #979797;
          border-radius: 11px;
        }
      }
    }
    &.sideMenuWrap {
      display: flex;
      align-items: center;
      color: #d9cccc;
      .n-icon {
        cursor: pointer;
        transition: transform 0.5s ease;
        &.open {
          transform:rotate(90deg);
        }
        &.close {
          transform:rotate(0deg);
        }
      }

    }
    &.smallLogoWrap {
      height: 45px;
      width: 45px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.hideStyle {
      visibility: hidden;
    }
  }
}
.sideMenuBtnWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button {
    width: 100%;
    background-color: transparent;
    text-align: justify;
    color: #d9cccc;
    &:not(:first-child) {
      margin-top: 10px;
    }
    &.active {
      background-color: #d2d2d2;
      color: #000000;
    }
  }
}
.n-drawer-container {
  .n-drawer--left-placement {
    background-color: #2b3b49;
    .n-drawer-header__main {
      color: #d9cccc;
    }
  }
}