.homeWrap {
  .mainWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    @include lg {
      flex-direction: column;
    }
    .timeLineWrap {
      width: 20%;
      min-width: 334px;
      height: 85%;
      padding-right: 20px;
      display: flex;
      align-items: center;
      @include lg {
        min-width: auto;
        padding-right: 0;
      }
      @include lg {
        width: 100%;
        height: 35%;
      }
      > div {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
      }
      .timelineDataWrap {
        height: 80%;
        width: 100%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        overflow: auto;
        @include scroll;
        @include lg {
          width: calc(100% - 90px);
          justify-content: center;
        }
      }
      .n-timeline-item {
        cursor: pointer;
        .n-timeline-item-timeline__icon {
          cursor: pointer;
        }
        &:first-child {
          cursor: default;
          .n-timeline-item-timeline__icon {
            cursor: default;
          }
        }
        &:last-child {
          cursor: default;
          .n-timeline-item-timeline__icon {
            cursor: default;
          }
        }
      }
      .n-timeline {
        width: 100%;
        padding-right: 30px;
        max-height: 100%;
        @include lg {
          width: auto;
          max-width: 100%;
        }
      }
      span {
        display: flex;
        cursor: pointer;
        color: #d4d3d3;
        padding: 10px;
        &.invalidYearStyle {
          cursor: no-drop;
        }
      }
    }
    .carouselWrap {
      width: 70%;
      height: 100%;
      padding: 0 20px;
      @include lg {
        height: 65%;
        width: 100%;
      }
    }

    .n-carousel__slide {
      display: flex;
      align-items: center;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .n-carousel__dots--dot {
      .n-carousel__dot {
          --n-dot-color: #d4d3d3 !important;
      }
      .n-carousel__dot--active{
          --n-dot-color-active: #979797 !important;
      }
    }
  }
}