.logoWrap {
  width: 100vw;
  // max-width: 1920px;
  height: 100vh;
  // max-height: 1080px;
  position: relative;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  .loginWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .loginImg {
      margin-bottom: 10px;
      width: 150px;
      img {
        width: 100%;
      }
    }
    .loginInputWrap {
      .n-input {
        --n-color: transparent !important;
        --n-border-hover: none !important;
        --n-color-focus: transparent !important;
        --n-text-color: #483939 !important;
        // --n-border-focus: rgba(194, 194, 194, 1) !important;
        // --n-loading-color: rgba(194, 194, 194, 1) !important;
        // --n-caret-color: rgba(194, 194, 194, 1) !important;
      }
      .n-input__border {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
      }
      .n-input__state-border {
        &.n-input--focus {
          border-color: transparent !important;
          box-shadow: none !important;
        }
      }
    }
    .loginBtnWrap {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: rgba(146, 146, 146, 1);
      }
      > button {
        width: 100%;
        border: 1px solid #ffeb3b;
        color: #ffeb3b;
        background-color: transparent;
        &:focus {
          box-shadow: none !important;
        }
      }
      .visitorWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        > div {
          display: flex;
          width: 100%;
          margin-bottom: 20px;
          p {
            padding: 0 10px;
            margin: 0;
          }
          span {
            width: calc(100% / 2 - 17px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > div {
              width: 100%;
              border-top: 1px solid rgba(146, 146, 146, 1);
            }
          }
        }
        > p {
          margin: 0;
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}
