.mapWrap {
  display: flex;
  justify-content: center;
  padding: 20px;
  .googleMapWrap {
    // width: calc(100% - 600px);
    width: 65%;
    padding-right: 30px;
    > div {
      width: 100%;
      &:nth-child(1) {
        height: 60%;
      }
      &:nth-child(2) {
        height: 40%;
      }
    }
  }
  .mapDataWrap {
    width: 600px;
    .titileWrap {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: #F0F2F5;
        font-size: 1rem;
        padding: 0.6em 1.8em;        
        &:not(:first-child) {
          margin-left: 10px;
        }
        &.active {
          background-color: #d2d2d2;
        }
      }
    }
    .mainWrap {
      height: calc(100% - 43px);
      padding-top: 20px;
      > section {
        width: 100%;
        height: 100%;
        &.active {
          display: flex;
        }
        &.newDataWrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .dataWrap {
            overflow: auto;
            > div {
              padding: 5px;
              p {
                font-size: 1rem;
              }
              .n-input {
                margin-top: 5px;
                --n-color: #F0F2F5 !important;
                --n-border-radius:8px !important;
                // --n-placeholder-color:#121417 !important;
              }
              &.imgsWrap {
                .imgsDataWrap {
                  display: flex;
                  margin-top: 5px;
                  .n-spin-container {
                    width: 100%;
                  }
                  .uploadImgWrap {
                    border: 2px dotted #979797;
                    width: 88px;
                    height: 88px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    label {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      cursor: pointer;
                      input {
                        display: none;
                      }
                    }
                  }
                  .imgsSrcWrap {
                    width: calc(100% / 5 - 10px*4/5);
                    height: 88px;
                    position: relative;
                    .n-image {
                      position: absolute;
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                    .deleteIconWrap {
                      position: absolute;
                      right: 5px;
                      top: 5px;
                      z-index: 1;
                      display: flex;
                      background-color: #979797;
                      border-radius: 50%;
                      cursor: pointer;
                      .n-icon {
                        transform: rotate(130deg);
                        color:#fff;
                      }
                    }
                  }
                  .n-spin-content {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    > div{
                      &:not(:first-child) {
                        margin-left: 10px;
                      }
                      &:nth-child(6) {
                        margin-left: 0;
                      }
                      &:nth-child(n+6):nth-child(-n+10) {
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }
              &.locationWrap {
                .modeWrap {
                  display: flex;
                  justify-content: space-between;
                }
                .modeDataWrap {
                  .XYWrap {
                    p {
                      font-size: 0.875rem;
                    }
                    > div{
                      &:not(:first-child) {
                        margin-top: 5px;
                      }
                    }
                  }
                }
              }
              &.photoDepictionWrap {
                .n-input-wrapper {
                  min-height:80px !important;
                  max-height:200px !important;
                }
              }
              &.remarkWrap {
                .n-input-wrapper {
                  min-height:80px !important;
                  max-height:200px !important;
                }
              }
            }
          }
          .sendDataWrap {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            button {
              &:not(:first-child) {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}