.mapWrap {
  display: flex;
  justify-content: center;
  padding: 30px;
  @include scroll;
  @include xl {
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    min-height: calc(100vh - 64px);
    &.contentWrap {
      height: auto;
    }
  }
  @include md {
    padding: 20px;
  }
  .googleMapWrap {
    width: calc(100% - 600px);
    padding-right: 30px;
    @include xl {
      width: 100%;
      padding-right: 0;
      padding-top: 30px;
      order: 2;
    }
    > div {
      width: 100%;
      &:nth-child(1) {
        height: 50%;
        @include xl {
          height: 50vh;
        }
      }
      &.dataInfoWrap {
        height: 50%;
        padding-top: 30px;
        @include md {

        }
        .dataMainWrap {
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          &.loginStatus {
            height: calc(100% - 48px);
          }
          @include md {
            flex-wrap: nowrap;
            flex-direction: column;
          }
          > p {
            font-size: 1.25rem;
            width: 100%;
            border-bottom: 1px solid #d2d2d2;
          }
          > div {
            height: calc(100% - 42px);
            &.infoWrap {
              width: 60%;
              padding-right:15px;
              margin-top: 10px;
              border-right: 1px solid #d2d2d2;
              overflow: auto;
              @include scroll;
              @include md {
                width: 100%;
                overflow: inherit;
                border-right:none;
                padding-right:0;
                padding-bottom:15px;
                border-bottom: 1px solid #d2d2d2;
              }
              > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0;
                &.locationWrap {
                  flex-direction: column;
                  align-items: normal;
                  > div{
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    > div {
                      display: flex;
                      justify-content: space-between;
                      padding: 5px 0 5px 0;
                      &:last-child {
                        padding-bottom: 0;
                      }
                    }
                  }
                }
                p {
                  font-size: 1rem;
                }
                .n-input,.n-space {
                  width: calc(100% - 90px) !important;
                }
              }
              .textareaStyle {
                .n-input-wrapper {
                  min-height:60px !important;
                  max-height:100px !important;
                }
              }
            }
            &.imgWrap {
              width: 40%;
              overflow: auto;
              padding-left: 15px;
              display: flex;
              flex-wrap: wrap;
              margin-top: 10px;
              @include xl {
                height: 350px;
              }
              @include md {
                width: 100%;
                padding-left: 0;
                padding-top:15px;
              }
              .n-spin-container {
                width: 100%;
                height: 100%;
              }
              .n-spin-content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                > div {
                  &:not(:first-child) {
                    margin-left: 10px;
                  }
                  &:nth-child(4) {
                    margin-left: 0;
                  }
                  &:nth-child(n+4):nth-child(-n+10) {
                    margin-top: 10px;
                  }
                }
              }
              .uploadImgWrap {
                border: 2px dotted #979797;
                width: calc(100% / 3 - 10px*2/3);
                height:calc(100% / 3 - 10px*2/3);
                display: flex;
                justify-content: center;
                align-items: center;
                label {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  input {
                    display: none;
                  }
                }
              }
              .imgsSrcWrap {
                width: calc(100% / 3 - 10px*2/3);
                padding: 5px;
                height:calc(100% / 3 - 10px*2/3);
                position: relative;
                .n-image {
                  position: absolute;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .deleteIconWrap {
                  position: absolute;
                  right: 5px;
                  top: 5px;
                  z-index: 1;
                  display: flex;
                  background-color: #979797;
                  border-radius: 50%;
                  cursor: pointer;
                  .n-icon {
                    transform: rotate(130deg);
                    color:#fff;
                  }
                }
              }
              .n-image {
                width: calc(100% / 3);
                padding: 5px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain !important;
                }
              }
            }
          }
        }
        .dataBtnWrap {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
          button {
            &.delete {
              background-color: #fbcaca;
            }
            &.edit {
              background-color: #f5dba2;
            }
            &.cancel {
              background-color: #d2d2d2;
            }
            &.save {
              background-color: #f0f0f0;
            }
            &:not(:first-child) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .mapDataWrap {
    width: 600px;
    @include xl {
      width: 100%;
      order: 1;
    }
    .titileWrap {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: #F0F2F5;
        font-size: 1rem;
        padding: 0.6em 1.8em;        
        &:not(:first-child) {
          margin-left: 10px;
        }
        &.active {
          background-color: #d2d2d2;
        }
      }
    }
    .mainWrap {
      height: calc(100% - 63px);
      margin-top: 20px;
      @include xl {
        max-height: 808px;
        overflow: auto;
        @include scroll;
      }
      .searchDataWrap {
        height: 100%;
        width: 100%;
        overflow: auto;
        @include scroll;
      }
      > section {
        width: 100%;
        height: 100%;
        &.active {
          display: flex;
        }
        &.newDataWrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .dataWrap {
            overflow: auto;
            @include scroll;
            > div {
              padding: 5px;
              p {
                font-size: 1rem;
              }
              .n-input,.n-base-selection {
                margin-top: 5px;
                --n-color: #F0F2F5 !important;
                --n-border-radius:8px !important;
                // --n-placeholder-color:#121417 !important;
              }
              &.imgsWrap {
                .imgsDataWrap {
                  display: flex;
                  margin-top: 5px;
                  .n-spin-container {
                    width: 100%;
                  }
                  .uploadImgWrap {
                    border: 2px dotted #979797;
                    width: 88px;
                    height: 88px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    label {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      cursor: pointer;
                      input {
                        display: none;
                      }
                    }
                  }
                  .imgsSrcWrap {
                    width: calc(100% / 5 - 10px*4/5);
                    height: 88px;
                    position: relative;
                    .n-image {
                      position: absolute;
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                    .deleteIconWrap {
                      position: absolute;
                      right: 5px;
                      top: 5px;
                      z-index: 1;
                      display: flex;
                      background-color: #979797;
                      border-radius: 50%;
                      cursor: pointer;
                      .n-icon {
                        transform: rotate(130deg);
                        color:#fff;
                      }
                    }
                  }
                  .n-spin-content {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    > div{
                      &:not(:first-child) {
                        margin-left: 10px;
                      }
                      &:nth-child(6) {
                        margin-left: 0;
                      }
                      &:nth-child(n+6):nth-child(-n+10) {
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }
              &.locationWrap {
                .modeWrap {
                  display: flex;
                  justify-content: space-between;
                }
                .modeDataWrap {
                  .XYWrap {
                    p {
                      font-size: 0.875rem;
                    }
                    > div{
                      &:not(:first-child) {
                        margin-top: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
          .sendDataWrap {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            button {
              &:not(:first-child) {
                margin-left: 10px;
              }
            }
          }
          .textareaStyle {
            .n-input-wrapper {
              min-height:80px !important;
              max-height:200px !important;
            }
          }
        }
      }
    }
  }
}