.searchDataWrap {
  height: 100%;
  width: 100%;
  .n-menu {
    height: calc(100% - 36px);
    overflow: auto;
    @include scroll_FFF;
  }
  .selectDataWrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    .n-radio__label {
      font-size: 1rem;
    }
    .n-radio {
      display: flex;
      align-items: center;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}